body {
  font-family: sans-serif;
}
.headings {
  padding: 0px 0px 0px 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

div.container {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  margin: 50px 70px;
  border: 1px solid grey;
  max-width: 800px;
  top: 50px;
}
.current {
  position: fixed;
  font-size: 25px;
  padding-left: 400px;
  top: 120px;
}
.current-temp {
  font-size: 50px;
}
.search {
  padding-right: 300px;
}
.searchButton {
  background: #cce3fb;
}
.day {
  font-size: 30px;
}
.emoji {
  font-size: 30px;
}
